* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}
h1 {
  background-color: rgb(57, 3, 94);
  color: #fff;
  text-align: center;
  padding: 10px 10px;
  font-size: 25px;
  font-weight: normal;
}
a {
  display: block;
  text-align: center;
  text-decoration: none;
  margin: 20px;
}
.users {
  border-collapse: collapse;
  width: 80%;
  margin: 30px auto;
}
.users td,
.users th {
  border: 1px solid #ddd;
  padding: 8px;
}
.users tr:nth-child(even) {
  background-color: #f2f2f2;
}
.users tr:hover {
  background-color: #ddd;
}
.users th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04aa6d;
  color: white;
}
.users a {
  margin: 0;
  display: inline-block;
}

input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  outline: 0;
}

input[type="submit"] {
  width: 100%;
  background-color: #4caf50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #45a049;
}

.form {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  width: 60%;
  margin: 50px auto;
}
